<%= form_for(@tipo_actividad) do |f| %>
  <% if @tipo_actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_actividad.errors.count, "error") %> prohibited this tipo_actividad from being saved:</h2>

      <ul>
      <% @tipo_actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
