<h1>Listing tipo_actividads</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_actividads.each do |tipo_actividad| %>
      <tr>
        <td><%= tipo_actividad.tipo %></td>
        <td><%= link_to 'Show', tipo_actividad %></td>
        <td><%= link_to 'Edit', edit_tipo_actividad_path(tipo_actividad) %></td>
        <td><%= link_to 'Destroy', tipo_actividad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo actividad', new_tipo_actividad_path %>
