<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_actividad.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_actividad_path(@tipo_actividad) %> |
<%= link_to 'Back', tipo_actividads_path %>
