<% provide(:title, "Acerca de App PDU") %>
<h1>Aplicación cwdela información de los PDU</h1>

<p>Desarrollado por: </p>
<ul>
  <li>Daniel Viñar - dvinar@cci.edu.uy</li>
  <li>apias@cci.edu.uy</li>
</ul>
<p>Find me in app/views/static_pages/acerca_de.html.erb</p>
