<div class="center jumbotron">
  <h1>Información de los PDU</h1>
  <ul class="list-group">
    <li class="list-group-item"><a href="/usuarios">Usuarios</a></li>
    <li class="list-group-item"><a href="/actividads">Actividades</a></li>
    <li class="list-group-item"><a href="/facultads">Facultades</a></li>
    <li class="list-group-item"><a href="/sedes">Sedes</a></li>
    <li class="list-group-item"><a href="/cenurs">CENURES</a></li>
    <li class="list-group-item"><a href="/tipos">Tipos de proyecto</a></li>
    <li class="list-group-item"><a href="/tipo_actividads">Tipos de actividades</a></li>
  </ul>
  <%= link_to "Conéctate ahora!", 'usuarios/new', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
