<%= form_for(@cenur) do |f| %>
  <% if @cenur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cenur.errors.count, "error") %> prohibited this cenur from being saved:</h2>

      <ul>
      <% @cenur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :web %><br>
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :comentario %><br>
    <%= f.text_area :comentario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
