<h1>Listing cenurs</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Web</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cenurs.each do |cenur| %>
      <tr>
        <td><%= cenur.nombre %></td>
        <td><%= cenur.web %></td>
        <td><%= cenur.comentario %></td>
        <td><%= link_to 'Show', cenur %></td>
        <td><%= link_to 'Edit', edit_cenur_path(cenur) %></td>
        <td><%= link_to 'Destroy', cenur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cenur', new_cenur_path %>
