<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cenur.nombre %>
</p>

<p>
  <strong>Web:</strong>
  <%= @cenur.web %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @cenur.comentario %>
</p>

<%= link_to 'Edit', edit_cenur_path(@cenur) %> |
<%= link_to 'Back', cenurs_path %>
