<%= form_for(@actividad) do |f| %>
  <% if @actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>

      <ul>
      <% @actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_id %><br>
    <%= f.collection_select :tipo_id, Tipo.all, :id, :tipo, :prompt => "Selecciona un tipo de proyecto" %>
  </div>
  <div class="field">
    <%= f.label :actividad_id %><br>
    <%= f.collection_select :actividad_id, TipoActividad.all, :id, :tipo, :prompt => "Selecciona un tipo de actividad" %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.collection_select :usuario_id, Usuario.all, :id, :nombre_completo, :prompt => "Selecciona el responsable de la actividad" %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :autores %><br>
    <%= f.text_field :autores %>
  </div>
  <div class="field">
    <%= f.label :presentador %><br>
    <%= f.text_field :presentador %>
  </div>
  <div class="field">
    <%= f.label :participantes %><br>
    <%= f.text_field :participantes %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <% if @actividad.fecha %>
      <%= f.text_field :fecha,  class:"datepicker", :value => @actividad.fecha.strftime("%d/%m/%Y"), :data => {:provide => 'datepicker'} %>
    <% else %>
      <%= f.text_field :fecha,  class:"datepicker", :data => {:provide => 'datepicker'} %>
    <% end %>
  </div>
  <div class="field">
    <%# f.label :fecha %><br>
    <%# f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :lugar %><br>
    <%= f.text_field :lugar %>
  </div>
  <div class="field">
    <%= f.label :origen_financiamiento %><br>
    <%= f.text_field :origen_financiamiento %>
  </div>
  <div class="field">
    <%= f.label :comentario %><br>
    <%= f.text_area :comentario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
       dateFormat : "dd MM yy",
       language: 'es'
    });
  });
</script>
