<h3>Actividades del docente 
  <%= @usuario.nombre_completo %>
</h3>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Actividad</th>
      <th>Nombre Actividad</th>
      <th>Titulo</th>
      <th>Autores</th>
      <th>Presentador</th>
      <th>Participantes</th>
      <th>Fecha</th>
      <th>Lugar</th>
      <th>Origen financiamiento</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actividads.each do |actividad| %>
      <tr>
        <td><%= actividad.tipo.tipo %></td>
        <td><%= actividad.tipo_actividad.tipo %></td>
        <td><%= actividad.nombre %></td>
        <td><%= actividad.titulo %></td>
        <td><%= actividad.autores %></td>
        <td><%= actividad.presentador %></td>
        <td><%= actividad.participantes %></td>
        <td><%= actividad.fecha %></td>
        <td><%= actividad.lugar %></td>
        <td><%= actividad.origen_financiamiento %></td>
        <td><%= actividad.comentario %></td>
        <td><%= link_to 'Ver', actividad %></td>
        <td><%= link_to 'Editar', edit_actividad_path(actividad) %></td>
        <td><%= link_to 'Borrar', actividad, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Actividad', new_usuario_actividad_path %> | 
<%= link_to 'Todas las actividades', actividads_path %>
