<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @actividad.tipo.tipo %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @actividad.tipo_actividad.tipo %>
</p>

<p>
  <strong>Docente:</strong>
  <%= @actividad.usuario.nombre_completo %> | 
  <%= link_to 'Actividades', usuario_actividads_path(@actividad.usuario) %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @actividad.nombre %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @actividad.titulo %>
</p>

<p>
  <strong>Autores:</strong>
  <%= @actividad.autores %>
</p>

<p>
  <strong>Presentador:</strong>
  <%= @actividad.presentador %>
</p>

<p>
  <strong>Participantes:</strong>
  <%= @actividad.participantes %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @actividad.fecha %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @actividad.lugar %>
</p>

<p>
  <strong>Origen financiamiento:</strong>
  <%= @actividad.origen_financiamiento %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @actividad.comentario %>
</p>

<%= link_to 'Editar', edit_actividad_path(@actividad) %> |
<%= link_to 'Volver', actividads_path %>
