<%= form_for(@sede) do |f| %>
  <% if @sede.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sede.errors.count, "error") %> prohibited this sede from being saved:</h2>

      <ul>
      <% @sede.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :web %><br>
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :cenur_id %><br>
    <%# f.number_field :cenur_id %>
    <%= f.collection_select :cenur_id, Cenur.all, :id, :nombre, :prompt => "Selecciona una región" %>
  </div>
  <div class="field">
    <%= f.label :comentario %><br>
    <%= f.text_area :comentario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
