<h1>Listing sedes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Web</th>
      <th>Cenur</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sedes.each do |sede| %>
      <tr>
        <td><%= sede.nombre %></td>
        <td><%= sede.web %></td>
        <td><%= sede.cenur_id %>
            <%# sede.cenur %>
            <%= sede.cenur.nombre %></td>
        <td><%= sede.comentario %></td>
        <td><%= link_to 'Show', sede %></td>
        <td><%= link_to 'Edit', edit_sede_path(sede) %></td>
        <td><%= link_to 'Destroy', sede, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sede', new_sede_path %>
