<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sede.nombre %>
</p>

<p>
  <strong>Web:</strong>
  <%= @sede.web %>
</p>

<p>
  <strong>Cenur:</strong>
  <%= @sede.cenur_id %>
  <%= @sede.cenur.nombre %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @sede.comentario %>
</p>

<%= link_to 'Edit', edit_sede_path(@sede) %> |
<%= link_to 'Back', sedes_path %>
