<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :ci %><br>
    <%= f.text_field :ci %>
  </div>
  <div class="field">
    <%= f.label :grado %><br>
    <%= f.number_field :grado %>
  </div>
  <div class="field">
    <%= f.label :sede_id %><br>
    <%# f.number_field :sede_id %>
    <%# f.collection_select :sede_id, @sedes, :id, :nombre, :prompt => "Selecciona una sede" %>
    <%= f.collection_select :sede_id, Sede.all, :id, :nombre, :prompt => "Selecciona una sede" %>
  </div>
  <div class="field">
    <%= f.label :facultad_id %><br>
    <%# f.number_field :facultad_id %>
    <%# f.collection_select :facultad_id, @facultads, :id, :nombre, :prompt => "Selecciona una facultad" %>
    <%= f.collection_select :facultad_id, Facultad.all, :id, :nombre, :prompt => "Selecciona una facultad" %>
  </div>
  <div class="field">
    <%= f.label :anio_aprobado %><br>
    <%= f.number_field :anio_aprobado %>
  </div>
  <div class="field">
    <%= f.label :horas_servicio %><br>
    <%= f.number_field :horas_servicio %>
  </div>
  <div class="field">
    <%= f.label :horas_sede %><br>
    <%= f.number_field :horas_sede %>
  </div>
  <div class="field">
    <%= f.label :dt %><br>
    <%= f.check_box :dt %>
  </div>
  <div class="field">
    <%= f.label :viajero %><br>
    <%= f.check_box :viajero %>
  </div>
  <div class="field">
    <%= f.label :caracter_id %><br>
    <%# f.number_field :caracter_id %>
    <%# f.collection_select :caracter_id, @caracters, :id, :descripcion, :prompt => "Select a prospect" %>
    <%= f.collection_select :caracter_id, Caracter.all, :id, :descripcion, :prompt => "Seleciona en la lista" %>
  </div>
  <div class="field">
    <%= f.label :calidad %><br>
    <%= f.text_field :calidad %>
  </div>
  <div class="field">
    <%= f.label :art9 %><br>
    <%= f.check_box :art9 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
