<h1>Listing usuarios</h1>

  <%= will_paginate %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>CI</th>
      <th>email</th>
      <th>Grado</th>
      <th>Sede</th>
      <th>Facultad</th>
      <th>Año aprobado</th>
      <th>Horas servicio</th>
      <th>Horas sede</th>
      <th>DT</th>
      <th>Viajero</th>
      <th>Caracter</th>
      <th>Calidad</th>
      <th>Art 9</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= link_to usuario.nombre, usuario %></td>
        <td><%= usuario.apellido %></td>
        <td><%= usuario.ci %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.grado %></td>
        <td><%# usuario.sede_id %>
	    <%= usuario.sede.nombre %></td>
        <td><%# usuario.facultad_id %>
            <%= usuario.facultad.nombre %></td>
        <td><%= usuario.anio_aprobado %></td>
        <td><%= usuario.horas_servicio %></td>
        <td><%= usuario.horas_sede %></td>
        <td><%= usuario.dt %></td>
        <td><%= usuario.viajero %></td>
        <td><%# usuario.caracter_id %>
            <%= usuario.caracter.descripcion %></td>
        <td><%= usuario.calidad %></td>
        <td><%= usuario.art9 %></td>
        <td><%= link_to 'Ver', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td>
          <% if current_user.superadmin? && !current_user?(usuario) %>
            <%= link_to 'Borrar', usuario, method: :delete, data: { confirm: '¿Estás seguro?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= will_paginate %>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
