<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuario.apellido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @usuario.ci %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @usuario.grado %>
</p>

<p>
  <strong>Sede:</strong>
  <%= @usuario.sede_id %>
  <%= @usuario.sede.nombre %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @usuario.facultad_id %>
  <%= @usuario.facultad.nombre %>
</p>

<p>
  <strong>Anio aprobado:</strong>
  <%= @usuario.anio_aprobado %>
</p>

<p>
  <strong>Horas servicio:</strong>
  <%= @usuario.horas_servicio %>
</p>

<p>
  <strong>Horas sede:</strong>
  <%= @usuario.horas_sede %>
</p>

<p>
  <strong>Dt:</strong>
  <%= @usuario.dt %>
</p>

<p>
  <strong>Viajero:</strong>
  <%= @usuario.viajero %>
</p>

<p>
  <strong>Caracter:</strong>
  <%= @usuario.caracter_id %>
  <%= @usuario.caracter.descripcion %>
</p>

<p>
  <strong>Calidad:</strong>
  <%= @usuario.calidad %>
</p>

<p>
  <strong>Art9:</strong>
  <%= @usuario.art9 %>
</p>

<%= link_to 'Actividades', usuario_actividads_path(@usuario) %> |
<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Volver', usuarios_path %>
