<%= form_for(@caracter) do |f| %>
  <% if @caracter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caracter.errors.count, "error") %> prohibited this caracter from being saved:</h2>

      <ul>
      <% @caracter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
