<h1>Listing caracters</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caracters.each do |caracter| %>
      <tr>
        <td><%= caracter.descripcion %></td>
        <td><%= link_to 'Show', caracter %></td>
        <td><%= link_to 'Edit', edit_caracter_path(caracter) %></td>
        <td><%= link_to 'Destroy', caracter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caracter', new_caracter_path %>
