<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @caracter.descripcion %>
</p>

<%= link_to 'Edit', edit_caracter_path(@caracter) %> |
<%= link_to 'Back', caracters_path %>
