<h1>Listing facultads</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Web</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facultads.each do |facultad| %>
      <tr>
        <td><%= facultad.nombre %></td>
        <td><%= facultad.web %></td>
        <td><%= facultad.comentario %></td>
        <td><%= link_to 'Show', facultad %></td>
        <td><%= link_to 'Edit', edit_facultad_path(facultad) %></td>
        <td><%= link_to 'Destroy', facultad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facultad', new_facultad_path %>
