<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @facultad.nombre %>
</p>

<p>
  <strong>Web:</strong>
  <%= @facultad.web %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @facultad.comentario %>
</p>

<%= link_to 'Edit', edit_facultad_path(@facultad) %> |
<%= link_to 'Back', facultads_path %>
