    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "PDU App", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Ayuda",   ayuda_path %></li>
            <% if logged_in? %>
              <li><%= link_to "Personas", usuarios_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Mi cuenta <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Mi perfil", current_user %></li>
                  <li><%= link_to "Mis datos", edit_usuario_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

